* { /* CSS Reset ============================================================================ */

	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
}

.important {
	color:#0fa5bf;
	font-size:1.3em;
	vertical-align: text-top;
	text-align: left;
}

.header {
	background-color:#dedede;
	padding:10px;
	text-align: center;	
}

.shadow {
	text-shadow: 0px 1px 2px #000;
	-moz-text-shadow: 0px 1px 2px #000;
	-webkit-text-shadow: 0px 1px 2px #000;
}

.lrgfnt {
	font-size:1.8em;
	vertical-align: text-top;
	padding:0;
}

.pushl {
	margin-right: 100px;
}

.warning {
	color:#ff0000;
}

.fix {
	padding:0;
	margin:0;
	font-weight: bold;
}

h1 {
	font-size:2.4em;
	color:#b4da00;
}

.green {
	color:#b4da00;
}

.title {
	font-size:1.4em;
	color:#000;
}

.welcome {
	font-size:1.2em;
	color:#667;
	padding:5px;
	border: 1px solid #aaaaaa;
}

.list {
	background:#dfede1;
	padding:10px;
	border:1px dashed #444;
}

.center {
	text-align:center;
}

.left {
	float:left;
}

.clear {
	clear:both;
}

h3 {
	font-size:2.2em;
}

h2 {
	font-size:2.2em;
	margin-left:.323232%;
	padding:1%;
}

a, a:link, a:visited, a:hover {
	color:#0f83b3;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

body {
	max-width:960px;
	min-height:100%;
	margin:0 auto;	
	padding:0;	
	background:#f2f2f2;
	font:100%/1.2  Arial, Helvetica, sans-serif;
	-webkit-box-shadow: 0px 0px 8px #000;
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}
footer {
	background:#b5b2b2;
	max-width:960px;
	max-height:200px;
	margin:0 auto;
	padding:10px;
	font-size:1.2em;
	margin-top:20px;
}

#wrapper {
	width:97.916667%;
	margin:0 auto;
	padding:10px;
	background:#ffffff;
}